#Unreal ignores
Build/
Binaries/
Intermediate/
Saved/
DerivedDataCache/
#Visual ignores
.vs/
Content/InfinityBladeGrassLands/
Content/AnimStarterPack/
Content/KiteDemo/
Content/StarterContent/Textures/
Content/StarterContent/HDRI/
Content/StarterContent/Maps/
